# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
bin
.idea/
build/

# Ignore vscode
.vscode
.DS_Store

# Avoid accidental secrets tracking
*.pem
*.p12
*.cert
*.key
certbot

# Environment variables
.env
